@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    //margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.7);
  }
}

a {
  color: #ececec;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: set-text-color2($primary-color);
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: set-text-color2($primary-color);
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// About Page

.about-info {
  display: grid;
  grid-gap: 30 px;
  grid-template-areas: "about";
  grid-template-columns: repeat(1, 1fr);

  .about {
    grid-area: about;
    font-size: 1.5rem;
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
    a {
      color: set-text-color2($primary-color);
      &:hover {
        color: set-text-color($primary-color);
        @include easeOut();
      }
    }
  }
}

// CV Page

.bio-info {
  display: grid;
  grid-gap: 30 px;
  grid-template-areas: "bioimage bio";
  grid-template-columns: repeat(1, 1fr);
  .cv-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid 3px set-text-color2($primary-color);
  }
  .bio {
    grid-area: bio;
    margin: 1rem;
  }
  .bio {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

.key-info {
  display: grid;
  grid-gap: 30 px;
  grid-template-areas:
    "key1"
    "key2";
  grid-template-columns: repeat(1, 1fr);
  .key-1 {
    grid-area: key1;
    margin: 1rem;
  }
  .key-2 {
    grid-area: key2;
    margin: 1rem;
  }
  .key {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

.job-info {
  display: grid;
  grid-gap: 30 px;
  grid-template-areas:
    "job1"
    "job2"
    "job3";
  grid-template-columns: repeat(1, 1fr);
  .job-1 {
    grid-area: job1;
    margin: 1rem;
  }
  .job-2 {
    grid-area: job2;
    margin: 1rem;
  }
  .job-3 {
    grid-area: job3;
    margin: 1rem;
  }
  .job {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

.education-info {
  display: grid;
  grid-gap: 10 px;
  grid-template-areas:
    "education1"
    "education2"
    "education3";
  grid-template-columns: repeat(1, 1fr);
  .education-1 {
    grid-area: education1;
    margin: 1rem;
  }
  .education-2 {
    grid-area: education2;

    margin: 1rem;
  }
  .education-3 {
    grid-area: education3;
    margin: 1rem;
  }
  .education {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

.hobbies-info {
  display: grid;
  grid-gap: 10 px;
  grid-template-areas: "hobbies";
  grid-template-columns: repeat(1, 1fr);
  .hobbies {
    grid-area: hobbies;
    margin: 1rem;
  }
  .hobbies {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

.keyskills-info {
  display: grid;
  grid-gap: 10 px;
  grid-template-areas: "keyskills";
  grid-template-columns: repeat(1, 1fr);
  .keyskills {
    grid-area: keyskills;
    margin: 1rem;
  }
  .keyskills {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

// Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px #fff solid;
    &:hover {
      opacity: 0.5;
      border-color: set-text-color2($primary-color);
      @include easeOut;
    }
  }
}

.fizzbuzz-info {
  display: grid;
  grid-gap: 10 px;
  grid-template-areas:
    "fizzbuzztext fizzbuzztext"
    "fizzbuzzprogram fizzbuzzcode";
  grid-template-columns: repeat(1, 1fr);
  .fizzbuzz-text {
    grid-area: fizzbuzztext;
    margin: 1rem;
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }

  .fizzbuzz {
    grid-area: fizzbuzzprogram;
    margin: 1rem;
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }

  .fizzbuzz-code {
    grid-area: fizzbuzzcode;
    margin: 1rem;
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: set-text-color2($primary-color);
    color: set-text-color($primary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.canvas-info {
  display: grid;
  grid-gap: 10 px;
  grid-template-areas: "canvastext";
  grid-template-columns: repeat(1, 1fr);
  .canvas-text {
    grid-area: canvastext;
    margin: 1rem;
  }
  .canvas-text {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
}

.unity-info {
  display: grid;
  grid-gap: 10 px;
  grid-template-areas:
    "unitytext1"
    "unityimg1"
    "unitytext2"
    "unityimg2"
    "unitytext3"
    "unityimg3";
  grid-template-columns: repeat(1, 1fr);
  .unity-text_1 {
    grid-area: unitytext1;
    margin: 1rem;
  }
  .unity-text_2 {
    grid-area: unitytext2;
    margin: 1rem;
  }
  .unity-text_3 {
    grid-area: unitytext3;
    margin: 1rem;
  }
  .utext {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: set-text-color2($primary-color) 5px solid;
  }
  .unity-img_1 {
    grid-area: unityimg1;
    margin: 1rem;
  }
  .unity-img_2 {
    grid-area: unityimg2;
    margin: 1rem;
  }
  .unity-img_3 {
    grid-area: unityimg3;
    margin: 1rem;
  }
  img {
    width: 100%;
    border: 3px set-text-color2($primary-color) solid;
  }
}

// Contact Page

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 1rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 0.3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: set-text-color2($primary-color);
      color: set-text-color($primary-color);
      span {
        color: set-text-color($primary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//For Canvas Invader

#Canvas {
  background: #000;
}
#FPSGraphMaker {
  background: #000;
}
#gameover {
  position: absolute;
  margin-left: 47%;
  margin-top: 450px;
  color: white;
  font-size: 15pt;
  font-family: "Arial";
}
#reset {
  position: absolute;
  margin-left: 48.5%;
  margin-top: 475px;
}
#txt {
  font-size: 15pt;
  font-family: "Arial";
}
#headermain {
  margin-left: auto;
  margin-right: auto;
  width: 752px;
}
#headermain2 {
  margin-left: auto;
  margin-right: auto;
  width: 752px;
}
#menu {
  font-size: 13pt;
  font-family: "Arial";
}
#title {
  font-size: 25pt;
  font-family: "Arial";
}
#header {
  float: left;
}
#main {
  margin-left: auto;
  margin-right: auto;
  width: 752px;
}
#mainright {
  margin-left: auto;
  margin-right: auto;
  width: 752px;
}

@import "mobile";
